html {
    background-color: rgb(254, 232, 200, 100%);
    padding: 0px;
    margin: 0px;
}
/* all content */
body{ font-size: 30px; margin: 0px;}
.sidebar-main { display: flex;
    margin: 0;
}
/* aside alignments */
aside >{ width: 10px;
    flex-direction: column;

}

img {
    border-radius: 50%;
}

/* aside bg colouring */
aside{background-color: rgb(92, 70, 138);
text-align: center;
}
/* header */
    header {
        background-color: rgb(146, 206, 93);
        flex-direction: row;
    }
nav { display: flex;
    justify-content: space-evenly;
}
.heading {text-align: center;}
ul { text-align: left;}


/* Footer */
.Logo { display: grid;
    width: 50px;

} 

footer {background-color: rgb(146, 206, 93);
position: absolute;
width: 100%

;}

/* to top button */
.page-top { width: 25px;
position: fixed;
bottom: 10px;
right: 10px;}